.intro {
    background-image: url("/home/kevine/Desktop/DelaniStudio/assets/backgrounds/h_img.jpg");
    text-align: center;
    
    
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
.mouseClick{
    padding-top: 150px;
    padding-bottom: 50px;
}